#parse("/velocity/layout.vm")
#@mainLayout()
	<div>
	#if($admin)
		<h1> Shows for Review: </h1>
		#foreach($show in $shows)
	        <h4><a class="shows" href="/shows/$show.showid">$show.showTitle</a><br></h4> 
	        
            
           	<form>
	        	<input name="show" type="hidden" value="$show.showid">
	        	<input name="accept" type="submit" value="Accept"></input>
	        	<input name="deny" type="submit" value="Deny"></input>
	        </form>
            
	    	#end
	</div>
	#else
	<h2>This page can only be accessed by admins</h2>
	#end
#end