#parse("/velocity/layout.vm")
#@mainLayout()
	<div>
		<h1> $username </h1>
		<p>    Country: $country
		<br>     Gender: $gender
		</p>
	</div>
	#if($reviews)
		<h2>User's Reviews </h2>
		#foreach($review in $reviews)
			<div id = "content">
				#foreach($show in $shows)
					#if($show.showid == $review.showID)
					<h2>
						<a class="shows" href="/shows/$show.showid">   
							$show.showTitle
						</a>
					</h2>
					
					#end
				#end
				<h3>$review.rating / 5 </h3>
				<p> $review.review </p>
			</div>
		#end
	#end
#end