#parse("/velocity/layout.vm")
#@mainLayout()

#if($nouser)
	You must sign in to see account details.
#else
	<br>   Username: $username
	<br> First Name: $firstname
	<br>  Last Name: $lastname
	<br>    Address: $address
	<br>    Country: $country
	<br>     Gender: $gender
	<br>      Email: $email
#end

#end