#parse("/velocity/layout.vm")
#@mainLayout()
<h1>Results</h1>
<div>
    #foreach($show in $shows)
        <div>
            <a class="shows" href="/shows/$show.showid">    
                $show.showTitle
            </a><br>
        </div>
    #end
</div>
#end