#parse("/velocity/layout.vm")
#@mainLayout()

#if($currentUser)
<div id = "content">	
<h1>Suggestion Page</h1>
<form id="addShowSuggestion" method="post">
	
	#if ($error)
		<h2>$error</h2>
	#end
	<h4><label>Title *</label></h4>
		<input name="show_title" placeholder="Title" required></input>
	
	<h4><label>Genre *</label></h4>
		<input name="genre" placeholder="Title" required></input>
	
	<h4><label>Length (H.MM) *</label></h4>
		<input type="text" name="length" min="0" max="100.00" step=".01" placeholder="Length" pattern="[0-9]{0,1}\.[0-5]{1}[0-9]{1}" required></input>
	
	<h4><label>Type *</label></h4>
		<input type="radio" name="movie_or_series" value="movie" required>
		<label for="movie">Movie</label><br>
		<input type="radio" name="movie_or_series" value="series" required>
		<label for="series">Series</label><br>
	
	<h4><label>Production Company *</label></h4>
		<select name="proco" required>
			#foreach ($proco in $procos)
				<option value="$proco.getName()">$proco.getName()</option>
			#end
		</select>
	
	<h4><label>Year Made *</label></h4>
		<select name="year" required>
			#foreach ($year in $years)
				<option value="$year">$year</option>
			#end
		</select>
		
	<input type="hidden" name="user" value='$currentUser'>
	
	
	<h4><label> </label></h4>
		<input type="submit" value="Submit">
		
		
</form>

</div>
#else
You need to be <a href="../login">logged in</a> to submit a show.
#end

#end