#parse("/velocity/layout.vm")
#@mainLayout()
<div id = "content">	
	#if($show) 
	<h1>$show.showTitle</h1>
	<label>length: $show.length hrs</label><br>
	<label>Genre: $show.genre</label><br>
	#else
	<h1>not found</h1>
	#end
		
	
</div>

<div id = "content">
	<h2>Cast and crew</h2>
	<label>Cast members</label><br>
	<label>Crew members</label>
</div>

<div id = "content">

	<h2>User Ratings</h2>
	#if($reviews)
	<label>5-Star ***** : $fiveRating, $fivePercent %</label><br>
	<label>4-Star **** : $fourRating, $fourPercent %</label><br>
	<label>3-Star *** : $threeRating, $threePercent %</label><br>
	<label>2-Star ** : $twoRating, $twoPercent %</label><br>
	<label>1-Star * : $oneRating, $onePercent %</label><br>
	#else
	<label>No User Ratings Yet</label><br>
	#end 

	<h2>Reviews</h2>
	#if($reviews)
	#foreach($review in $reviews)
		<div id = "content">
		<a class="user" href="/user/$review.username"> 
			<h3>$review.username </h3>
			</a>
	        <h2>$review.rating / 5 </h2>
	            #if($review.review)
	            	<div style="width:600px;height:75px;overflow:auto;padding:5px;"> $review.review </div>	
	           		#end
	     	</div>
        #if($admin)
        	<form id="adminDeleteReviewForm" method="post">
		    		<h4><label>Admin: Remove this review:</label></h4>
		    		<input name="Check" type="hidden" value="$review.username"></input>
		    		<input type="submit" value="Delete">
				</form>
        #end
        #end
        #else
        <label> There aren't any user reviews for $show.showTitle yet. </label>
        #end
        #if($currentUser)
        	#if(!$alreadyReviewed)
	        	<form id="userReviewForm" method="post">
	        	<h3>Leave a Starred Review</h3>
					    <label class="radio-inline">
					      <input type="radio" name="Rating" value="1">1
					    </label>
					    <label class="radio-inline">
					      <input type="radio" name="Rating" value="2">2
					    </label>
					    <label class="radio-inline">
					      <input type="radio" name="Rating" value="3" checked>3
					    </label>
					    <label class="radio-inline">
					      <input type="radio" name="Rating" value="4">4
					    </label>
					    <label class="radio-inline">
					      <input type="radio" name="Rating" value="5">5
					    </label>
					    <br>
		    		<textarea name="review" rows="6" cols="60"placeholder="Type your written review here" value=""></textarea><br>
		    		<input type="submit" value="Submit">
				</form>
			#else
				<h3>You have already reviewed this show.<br>
				Delete your current review in order to leave an another.</h3>
				#if(!$admin)			
				<form id="deleteReviewForm" method="post">
		    		<input name="Check" type="hidden" value="$currentUser"></input>
		    		<input type="submit" value="Delete">
				</form>
				#end
			#end
		#else
			<h2> You must <a href="/login" >log in</a> to leave a review </h2>
		#end
</div>


#end