#parse("/velocity/layout.vm")
#@mainLayout()
<div id = "content">	
	#if($show) 
	<h1>$show.showTitle</h1>
	<label>length: $show.length</label><br>
	<label>Genre: $show.genre</label><br>
	#else
	<h1>not found</h1>
	#end
		
	
</div>

<div id = "content">
	<h2>Cast and crew</h2>
	<label>Cast members</label><br>
	<label>Crew members</label>
</div>

<div id = "content">
	<h2>Reviews</h2>
	#if($reviews)
	#foreach($review in $reviews)
	<div id = "content">
            <h2>$review.rating / 5 </h2>
            #if($review.review)
            	<p> $review.review </p>	
            	<a class="user" href="/user/$review.username"> 
           	<h3>$review.username </h3>
           	</a>
           	#end
        </div>
        #end
        #else
        <label> There aren't any user reviews for $show.showTitle yet. </label>
        #end
        #if($currentUser)
        	<form id="userReviewForm" method="post">
        	<select name="Rating" size="5" required>
  					<option value="1">1</option>
  					<option value="2">2</option>
  					<option value="3">3</option>
  					<option value="4">4</option>
  					<option value="5">5</option>
				</select>
	    		<h4><label>Leave a review here</label></h4>
	    		<textarea name="review" rows="10" cols="60"placeholder="Type your review here" value="">
	    		</textarea>
	    		<input type="submit" value="Submit">
			</form>
		#end
</div>


#end